/* GENERELT */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* FONTS */ 
h1{
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;     
}

h2{
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h3{
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;  
    color: #EB7C30;
}

h4{
    font-family: ff-dagny-web-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}

h5{
    font-family: ff-dagny-web-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
}

p{
    font-family: ff-dagny-web-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    
}

.p_size{
    font-size: 130%;
    line-height: 140%;
}

.italic{
    font-style: italic;
}

.merchsection span{
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* FONTS MERCH + INSTAGRAM SEKTION */ 
.merchsection h1{
    padding-top: 5%;
    margin-bottom: 5%;
}

.merchsection h2{
    font-size: 350%;
    font-family: poppins, sans-serif;
    font-weight: 600;
}

.merchsection h3{
    font-size: 400%;
}

.merchsection a{
    color: black;
    font-family: ff-dagny-web-pro, sans-serif;
    text-decoration: none;
    font-size: 130%;  
}


/* KNAPPER */ 
    .whitebutton{
        border: 2px solid #ffffff;
        background-color: #1414DB;
        color: white; 
    }

    .bluebutton{
        border: 2px solid #1414DB;
        background-color: #ffffff;
        color: #1414DB;
    }

    .bluebutton::before{
        background-color: #1414DB;
        color: #ffffff;
    }
    
    .whitebutton::before{
    color: #1414db;
    background-color: rgb(255, 255, 255);
    }

    #læsmere_button::before{
        content: 'Læs mere';
    }

    #omos_button::before{
        content: 'Om os';
    }

   .cta_button{
        padding: 10px;
        font-size: 15px;
        outline: none;
        position: relative;
        letter-spacing: 1px;
        margin-right: 4%;
    }
   
    .cta_button::before{
        position: absolute;
        top: -14%;
        left: -7%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.15s ease-in-out;
        font-weight: bold;
    }
   
    .cta_button:hover::before{
        top: 0;
        left: 0;
    }

    .cta_button:hover{
        cursor: pointer;
    }


  

    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: red; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
      }
      
      #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
      }





    
    


/* MODALVINDUE */ 


#modalContainer>div{
    display: none;
}

#modalContainer>#hoverbox{
    display: block;
}

#modalContainer:hover>#modalButton{
    display: block;
}

#hoverbox{
    width: 3%;
    z-index: 1;
    position: fixed;
    background-color: #EB7C30;
    height: 6%;
    
    margin-top: 40%;
    padding-left: 1%;
}




#modalButton{
    display: none;
    height: 12%;
    z-index: 1;
    position: fixed;
    background-color: #EB7C30;
    margin-top: 40%;
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: white;
    text-align: left;
    padding-left: 1%;
    font-size: 140%;   
    width: 20%;
}

#modalButton img{
    width: 100%;
    height: 100%;
}







.modal{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
}

.modal-content{
    background-color: #EB7C30;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    height: 60%;
}

#btnBeer{
    width: 30%;
    height: 7%;
    font-size: 14px;
}

#yourBeer{
    font-size: 30px;
    margin-top: 10%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}















/* KLASSER */
.blue_box{
    background-color: #1414DB;
    color: white;
}

.flexcontainer{
    display: flex;
    
}

.max_img{
    max-width: 100%;
    max-height: 100%;
}

.center{
    justify-content: center;
}

.align_right{
    text-align: right;
}

.container_overlap{
    position: relative;
}

.two_pics{
    padding: 10%;
}

.two_pics div:first-child{
    padding-right: 5%;

}

.black_headlines{
font-size: 300%;
}

.omos_sticker{
    width: 20%;
}

.three_img{
    justify-content: space-evenly;
    margin-bottom: 10%;
}

.three_img div{
    width: 24%;
}

.textbox h2{
    font-size: 300%;

}

.textbox p{
    font-size: 120%;
    line-height: 130%;
}








/* HEADER */
header{
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal; 
    display: flex;  
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 150%;
    margin-left: 7.5%; 
}

nav{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    width: 24%;
    margin-left: 76%;
    z-index: 1;    
    padding-top: 11px;
    padding-bottom: 12px;
}

header img{
    position: absolute;
    width: 5%;
    margin-left: 1.5%;
    margin-top: 1.5%;
}































/* INDEX */ 
/* Index første sektion */
/* - Venstre side - */
#index_left{
    text-align: right;
    padding-right: 2%;
    width: 55%;
    padding-bottom: 10%;
      margin-bottom: 15.5%;
}

/* - forside font - */
#overskrift_forside{
    padding-top: 10%;
    font-size: 450%;
    line-height: 140%;
    letter-spacing: 5px;
    padding-bottom: 10%;
    padding-right: 3%;
      
}

/* - højre side - */  
#index_right{
    width: 45%;
    margin-right: 4%;
    margin-top: 4%;
    text-align: right;

}

#index_right div:first-child{
    width: 565px;
}

#index_right div:last-child{
    float: right;
}

#index_right p{
    font-family: ff-dagny-web-pro, sans-serif;
    font-weight: 900;
    font-size: 150%;
    padding-bottom: 4px;
    padding-top: 4px;
}

/* Åben / lukket */ 
#openNow{
    color: rgb(57, 215, 57);
    display: none;
}

#closed{
    color: rgb(215, 40, 40);
    display: none;
}












/* Index PIZZA sektion */
/* Nyhed overskrift */ 
#overskrift_nyhed{
    margin-right: 4%;
}

/* - højre side - */ 
#pizzanews div{
    margin-top: 7%;
}

#pizzanews div:last-child{
    width: 30%;  
}

/* - venstre side - */ 
#pizzanews div:first-child{
    margin-right: 10%;
   margin-top: 9%;
}

#pizzanews div:first-child button{
    margin-top: 8%;
    margin-left: 2%; 
}

/* - Pizza der drejer - */
#pizzaTurn{
    animation: rotateImage 60s linear infinite;
    
}



@keyframes rotateImage{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}





/* Index #TANKENDERTÆLLER sektion */
/* højre side */
#TANKENDERTÆLLER{
    padding: 3%;
    margin-top: 30%;
}

#TANKENDERTÆLLER div:last-child{
    width: 30%;
    position: absolute;
    margin-left: 38%;
    margin-top: 10%;
}

/* venstre side */
#TANKENDERTÆLLER div:first-child{
    width: 80%;
    margin-right: 30%;
    margin-left: 13%;
    padding-top: 5%;
    padding-bottom: 8%;
    padding-left: 3%;  
}


/* Index Bollekort sektion */
/* overskrift */ 
#overskrift_bollekort{
    margin-top: 24.5%;
    margin-left: 6%;
}

/* højre side */
#bollekort{
    margin-left: 10%;
    margin-bottom: 10%;
     margin-top: 7%;
     position: relative;
}

#bollekort div:first-child{ 
    width: 400px;
    margin-left: 5%;
}

/* venstre side */
#bollekort div:nth-child(2){
    margin-top: 25%;
    width: 43%;
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 3%; 
}

#bollekort div:last-child{
    position: absolute;
    width: 15%;
    margin-left: 70%;
    margin-top: 16%;
}

/* Index Instagram sektion */

#instagramsection{
    margin-left: 4%;
    margin-top: 15%;
}

#instagramsection h2{
    line-height: 45px;
}

#img_instagram{
    justify-content: space-evenly;
    margin-bottom: 10%;
    margin-top: 2%;
    
}

#img_instagram div{width: 20%;}

#instagramsection a{
color: #EB7C30;
font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 500%;
}
/* højre side */ 


/* venstre side */


















/* OM OS */
/* Video sektion */
 /* font */
 #videosection h1{
    font-size: 500%;
    margin-bottom: 5%;
    line-height: 120%;
}

#videosection h2{
    margin-bottom: 5%;
}

#videosection{
    margin-top: 14%;
    margin-bottom: 10%;
}

#videocontainer{
    width: 80%;
    align-items: center;

}

#videocontainer div:first-child{
    width: 85%;
    padding: 5% 20% 5% 5%;   
    
}

#video{
    position: absolute;
    left: 50%;
    bottom: 47%;
    width: 50%;
    height: 50%;
}

/* MERCH SEKTION */
/* Font */

#overskrift_merch{
    margin-right: 14%;
}
.merchsection h2{
    line-height: 70%;
}



/* linjer */

#lines_omos{
    right: 14%;
    top: 14%;
    height: 96%;
    width: 100%;
    
    border-top: 8px solid #1414DB;
    border-right: 8px solid #1414DB; 
    border-bottom: 8px solid #1414DB; 
}
/* linjer */




/* T-shirt sektion */
#tshirtcontainer{
    margin-right: 18%;
    margin-left: 7%;
    margin-top: 7%;
    justify-content:space-between;

    
}


#størrelser{
    margin-top: 3%;
    text-align: right;
    margin-right: 18%;
    color:#EB7C30;
    font-size: 120%;
}

#sticker_tshirt{
    margin-left: 5%;
    width: 270px;
    height: 270px;
}

/* Totebag sektion */
#totebagcontainer{
    text-align: left;
    margin-left: 7%;
    margin-top: 13%;
    margin-bottom: 5%;

}

#totebagcontainer p{
    text-align: left;
}


#sticker_totebag{
    float: right;
    margin-right: 14%;

    width: 270px;
    height: 270px;
}














/* MENUKORT */

.menu_section{
    margin-top: 70px;
    margin-left: 35px;
    margin-right: 35px;
    flex-grow: 1;
}

.menu_kategori{
    padding-left: 10px;
    padding-top: 10px;    
}

.menu_line{
    margin-top: 1%;
    margin-bottom: 3%;

}

.menu_item{
    justify-content: space-between;
    position: relative; 
}

.menu_item h4{
 color: #1414DB;
 font-size: 120%;
 padding-bottom: 1%;

}



.menu_price{
    text-align: right;
}

.menu_item p{
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 95%;
}

.end_margin{
    margin-right: 85px;
}

.bottom_right{
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon{
    height: 55px;
    width: 55px; 
    flex-shrink: 0;
}

.menu_item_width{
    width: 300px;    
}


#mefisto_spacing div:nth-child(3), #mefisto_spacing div:nth-child(5){
    padding-bottom: 4%;
}

#mefisto_spacing h4{
    padding-top: 10%;
}

#mefisto_spacing h3{
    padding-top: 13%;
    font-size: 150%;
}

#mefisto_spacing{
    width: 500px;
}

#mefisto_img{
    width: 500px;
    height: 550px;
    margin-right: 5%;
    background-image: url(images/mefisto.pizza.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}


#infographic_beer{
    width: 400px;
    height: 650px;
    margin-top: 35px;
    margin-right: 35px;
    text-align: right;
}

#infographic_drink{
    width: 800px;
    height: 380px;
    margin-top: 35px;
    margin-right: 35px;
    text-align: right;
}

.space_between{
    justify-content: space-between;
}



#menu_bollekort_img{
    width: 450px;
    margin: 5%;
}

#menu_bollekort_section{
    height: 400px;
    margin-top: 15%;
    margin-bottom: 10%;
    outline:7px solid #1414DB;
    outline-offset: 10px;
    align-items: center;
}

#menu_bollekort_section div:last-child{
    width: 40%;

}



#menu_titeltop{
    margin-top: 20%;  
    margin-bottom: 5%;
    position: relative;  
}

#menu_titeltop h1{
    font-size: 500%;
}

#menu_titeltop h2{
    font-size: 200%;
    padding-top: 4%;
    color: #EB7C30;
}

#menu_navigation{
    position: absolute;
    top: 40px;
    right: 0;
    list-style: none;  
    text-align: right;  
    width: 10%;

}

#menu_navigation a{
    color: black;
    line-height: 90%;
    font-family: bebas-neue, sans-serif;
    font-weight: 600;
    font-size: 150%;
    text-decoration: none;
}




/* EVENTS */
/* Denne uge sektion */
#overskrift_denneuge{
    margin-top: 17%;
    margin-left: 15%;
    
}

#denneuge{
    margin-top: 5%;
    padding-left: 10%;
    margin-bottom: 16%;
}

/* venstre side */
#denneuge div:first-child{
    width: 40%;
    padding: 3%;
}

/* højre side */ 
#denneuge div:last-child{
    width: 40%;   
}

#denneuge div:last-child img{
    width: 90%; 
    padding-top: 10%;
    margin-left: 5%;
}

/* Kommende events sektion */
#overskrift_kommendeevents{
    width: 80%;
    margin-left: 10%;
    padding-top: 5%;
    padding-left: 4.3%;
    padding-bottom: 3%;
    font-size: 300%; 
}

#kommendeevents{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    padding-bottom: 8%;
}

/* venstre side */
#kommendeevents div:first-child{
padding-right: 3%;
padding-left: 2%;

}

/* midten */ 
#kommendeevents div:nth-child(2){
    margin-right: 5%;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding-left: 4%;
    padding-right: 4%;
}

/* højre side */
#kommendeevents div:first-child{
    padding-right: 2%;
    
    }






















/* FOOTER */

footer{
    font-size: 80%;
}
/* venstre side */
footer div:first-child{
    width: 40%;
    margin-right: 9%;
}

footer div:first-child h1:first-child{
    padding: 5%;
}
footer div:first-child h1:last-child{
    padding: 5%;
}

/* midten */
footer div:nth-child(2){
    width: 20%;
}

footer div:nth-child(2) img{
    width: 50%;
    padding-top: 29%;  
}


/* højre side */ 
footer div:last-child{
    width: 40%;
}

footer div:last-child h1:first-child{
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 1%;
}
footer div:last-child h1:nth-child(2){
    padding-right: 5%;
    padding-bottom: 20%;
}

i{
    font-size: 300%;
    padding-right: 5%;
}






body{
    width: 100%;
    overflow-x: hidden;

}

.line_container{
    position: relative;
}

.lines{
    z-index: -2;
    position: absolute;
}



.blueline{
    border: #1414DB 8px solid;
    position: absolute;
    z-index: -99;
}

#blueline_index1{
    top: 945px;
    left: 70px;
    width: 100%;
    height: 500px;
    border-bottom: none;
    border-right: none;
}

#blueline_index2{
    top: 1445px;
    left: 70px;
    width: 700px;
    height: 1200px;
    border-left: none;
}

#blueline_index3{
    top: 2645px;
    left: 70px;
    width: 100%;
    height: 480px;
    border-top: none;
    border-right: none;
}




/* RESPONSIVE */

